header {
    color: white;
}

.customJUMBO{
    background-color: #223769;
    border-radius: 10px;
}

.customHeader{
    color: rgb(17, 17, 17);
    font-weight: 700;
}

section{
    border-radius: 10px;
}